$header_bg: #373c3f;
$header_color: #ebebeb;

$burger_bg: #202529;

$introduction_block_bg: #11a9be;

$link_wrapper_pink: #bc3183;
$link_wrapper_violet: #5b0fa1;

$article_bg: #ebebeb;
$article_title: #088ca5;
$article_text: #515151;